@keyframes v6don-kira {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes v6don-nobi {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  52% {
    transform: scale(1.1, 1.6);
  }
  60%{
    transform: scale(1);
  }
}
@keyframes v6don-wave {
  0% {
    transform: translateY(0);
  }
  4% {
    transform: translateY(-0.25em);
  }
  10% {
    transform: translateY(0);
  }
}
@keyframes v6don-bitibiti {
  @for $i from 0 through 14 {
    #{$i * 2}% {
      @if $i % 2 == 0 { transform: rotate(-20deg); }
      @else { transform: rotate(20deg); }
    }
  }
  30% {
    transform: rotate(0);
  }
}

@font-face {
  font-family: 'v6don-emoji';
  src: url('../fonts/v6don/v6don-emoji.woff') format('woff');
}

.v6don-kira {
  display: inline-block;
  animation: v6don-kira 0.8s infinite;
}
.v6don-nobi {
  display: inline-block;
  animation: v6don-nobi 1.8s infinite;
  transform-origin: center bottom;  
}
.v6don-wave {
  display: inline-block;
  animation: v6don-wave 2s infinite;
}
.v6don-tyu2 {
  background-color: black;
  font-family: serif;
  color: red;
  .v6don-fg-stroke {
    stroke: red;
  }
  .v6don-fg-round {
    fill: red;
  }
}
.v6don-dagger {
  color: white;
}
.v6don-kozinkanso {
  font-size: 0.55em;
}
.v6don-bitibiti {
  display: inline-block;
  animation: v6don-bitibiti 1.6s infinite;
}
.v6don-emoji::before {
  font-family: 'v6don-emoji';
  content: attr(data-gryph);
}

$quoted-text-color: #0e7f28;

.status__content {
  blockquote {
    color: $quoted-text-color;
    border-right: solid 3px $quoted-text-color;
    padding-right: 2px;
    
    .v6don-fg-stroke {
      stroke: $quoted-text-color;
    }
    .v6don-fg-round {
      fill: $quoted-text-color;
    }
  }
  p + blockquote {
    margin-top: -20px;
  }
}

.e-content blockquote {
}

ruby {
  ruby-align: space-between;
}
.v6don-ruby-rt::after {
  content: attr(data-ruby);
}

.v6don-estclock {
  padding: 10px;

  th {
    text-align: right;
    padding-right: 5px;
  }

  &[data-tick='hidden'] .v6don-estclock-tick {
    opacity: 0;
  }
}
