@keyframes v6don-kira {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes v6don-nobi {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  52% {
    transform: scale(1.1, 1.6);
  }
  60%{
    transform: scale(1);
  }
}
@keyframes v6don-wave {
  0% {
    transform: translateY(0);
  }
  4% {
    transform: translateY(-0.25em);
  }
  10% {
    transform: translateY(0);
  }
}

.v6don-fg-stroke {
  stroke: $primary-text-color;
  fill: none;
}
.v6don-fg-round {
  fill: $primary-text-color;
}

.reply-indicator__content {
  .v6don-fg-stroke {
    stroke: $ui-base-color;
  }
  .v6don-fg-round {
    fill: $ui-base-color;
  }
}

.activity-stream {
  .v6don-fg-stroke {
    stroke: $ui-base-color;
  }
  .v6don-fg-round {
    fill: $ui-base-color;
  }
}

.muted {
  .v6don-fg-stroke {
    stroke: $ui-base-lighter-color;
  }
  .v6don-fg-round {
    fill: $ui-base-lighter-color;
  }
}

.v6don-kira {
  display: inline-block;
  animation: v6don-kira 0.8s infinite;
}
.v6don-nobi {
  display: inline-block;
  animation: v6don-nobi 1.8s infinite;
  transform-origin: center bottom;  
}
.v6don-wave {
  display: inline-block;
  animation: v6don-wave 2s infinite;
}
.v6don-tyu2 {
  background-color: black;
  font-family: serif;
  color: red;
  .v6don-fg-stroke {
    stroke: red;
  }
  .v6don-fg-round {
    fill: red;
  }
}
.v6don-dagger {
  color: white;
}
.v6don-kozinkanso {
  font-size: 0.55em;
}


$quoted-text-color: #0e7f28;

.status__content {
  blockquote {
    color: $quoted-text-color;
    border-right: solid 3px $quoted-text-color;
    padding-right: 2px;
    
    .v6don-fg-stroke {
      stroke: $quoted-text-color;
    }
    .v6don-fg-round {
      fill: $quoted-text-color;
    }
  }
  p + blockquote {
    margin-top: -20px;
  }
}

.e-content blockquote {
}
